:host {
  display: block;
}
.blue{
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b8df2 0% 0% no-repeat padding-box;
  border: none;
  color: white;
}

 /** Size **/
 .large {
  padding: 12px;
}
.medium {
  padding: 8px;
}
.small {
  padding: 4px;
}

.MyButton {
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  

}