:host {
  display: block;
}

.SwcTextbox {
  width: 100%;
  font-weight: 200;
  cursor: pointer;
  outline: none;
  display: flex;

   /** Width **/
&.fullwidth{
  width: 100%;
}
&.mediumwidth{
  width: 50%;
}
&.smallwidth{
  display: block;
  width: 20%;
}

  /** style **/
  &.search {
    height:25px;
    background: #fff;
    border-radius: 25px;
    padding: 0 17px;
    margin-top: 6px;
    border: 1px solid #ccc7c7;
  }
  &.loginform {
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    overflow: hidden;
    min-width: 56px;
  }
  /** Shape **/
  &.round {
    border-radius: none;
    overflow: hidden;
    min-width: 56px;
  }

 

  /** Elevation **/
  &.elevation {
    box-shadow: 3px 4px 6px rgba(0, 0, 0, $alpha: 0.3);
  }
}